@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #D8E3E7
}

h3 {
    color:#D8E3E7
}

nav a {
    font-size: 18x;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

.profile header {
    text-align: center;
}

footer {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    color: white;
    background-color: #132C33
}

.featured-image {
    width: 100%;
    max-height: 400px;
}

.profile img {
    width: 25x;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #D8E3E7;
    text-align: center;
    color: black;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #51C4D3;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

header {
    display: inline;
}